.body {
	&__header {
		display: flex;
		border-bottom: 1px solid #eee;

		> div {
			padding: 15px;
			@include mediumText('Montserrat');
			cursor: pointer;
			transition: 0.3s ease-in-out;

			&:hover,
			&.active {
				background: #eee;
			}

			&:not(:last-child) {
				border-right: 1px solid #eee;
			}
		}
	}
}
