.page {
	display: flex;

	&.dark {
		> div:nth-child(1) {
			border-left: 1px solid #444;
			border-bottom: 1px solid #444;
		}

		> div:nth-child(2) {
			border-left: 1px solid #444;
			border-right: 1px solid #444;
			border-bottom: 1px solid #444;
		}

		> div:nth-child(3) {
			border-right: 1px solid #444;
			border-bottom: 1px solid #444;
		}
	}

	> div {
		height: 90vh;
	}

	> div:nth-child(1) {
		border-left: 1px solid #eee;
		border-bottom: 1px solid #eee;
		height: 90vh;
	}

	> div:nth-child(2) {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
		height: 90vh;
		max-width: 722px;
	}

	> div:nth-child(3) {
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;
		height: 90vh;
	}
}
