.button {
	border: none;
	color: #fff;
	background: $base-color;
	padding: 10px 20px;
	border-radius: 12px;
	cursor: pointer;
	@include smallText('Montserrat', 600);
	transition: all 0.3s ease;

	&:hover {
		transform: scale(1.05);
	}
}
