.header {
	padding: 15px 30px;
	border-bottom: 1px solid #eee;
	display: flex;
	justify-content: space-between;
	align-items: center;

	> a {
		@include boldText('Montserrat');
		transition: 0.2s ease-in-out;

		> span {
			color: $base-color;
		}

		&:hover {
			transform: scale(1.05);
		}
	}

	&__send {
		display: flex;
		gap: 20px;
		width: 43%;
	}
}
