.input {
	position: relative;
	width: 100%;

	> input {
		width: 100%;
		outline: none;
		border-radius: 8px;
		border: 1px solid #eee;
		padding: 10px 10px 10px 120px;
		@include mediumText('Roboto', 400);
		color: #545454;

		&:focus {
			border: 1px solid $base-color;
		}
	}
}
